<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  
  <form method="POST" class="post-form" action="/update/{{arduinodata.id}}">  
          {% csrf_token %}  
      <div class="container">  
  <br>  
      <div class="form-group row">  
      <label class="col-sm-1 col-form-label"></label>  
      <div class="col-sm-4">  
      <h3>Update Details</h3>  
      </div>  
    </div>  
      <div class="form-group row">  
      <label class="col-sm-2 col-form-label"> data</label>  
      <div class="col-sm-4">  
          <input type="text" name="data" id="id_data" required maxlength="20" value="{{ arduinodata.data}}"/>  
      </div>  
    </div>  
       
       
        
      <div class="form-group row">  
      <label class="col-sm-1 col-form-label"></label>  
      <div class="col-sm-4">  
      <button type="submit" class="btn btn-success">Update</button>  
      </div>  
    </div>  
      </div>  
  </form>  
  </body>  
</html>